.sidebar, .fixed-bottom {
    background-color: #353D55 !important;
}

.sidebar .nav-link, .fixed-bottom .nav-link {
    color: #ffffff !important; /* Light text color for better contrast */
}

.sidebar .nav-link:hover, .fixed-bottom .nav-link:hover,
.sidebar .nav-link.active, .fixed-bottom .nav-link.active {
    background-color: #50597b !important; /* Slightly lighter background for hover and active states */
    color: #ffffff !important; /* Ensure text color remains light */
}

.dropdown-menu {
    background-color: #353D55 !important; /* Match dropdown background with sidebar */
}

.dropdown-menu .dropdown-item {
    color: #ffffff !important; /* Light text color for dropdown items */
}

.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #50597b !important; /* Match hover state with sidebar */
    color: #ffffff !important; /* Ensure text color remains light */
}

@media (max-width: 576px) {
    #menu {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .fixed-bottom .nav-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 1rem;
    }

    .card-img-top {
        height: 150px; /* Set a specific height for smaller devices */
        object-fit: cover; /* Ensures the image covers the area without distortion */
    }
}

.card-img-top {
    width: 100%; /* Ensures the image scales to fit the card */
    height: auto; /* Maintains the aspect ratio */
}

@media (min-width: 577px) {
    .fixed-bottom {
        display: none;
    }
}
