.form-control {
    background-color: #dcdcdc !important; 
    color: #555 !important; 
  }
  
 
  .form-control::placeholder {
    color: #888 !important; 
  }
  

  .form-control:focus {
    background-color: #dcdcdc !important; 
    color: #555 !important; 
  }
  
  
  .table-responsive {
    overflow-x: auto; 
}


.img-thumbnail {
    max-width: 100px; 
}


.logo-img {
    width: 100px; 
    margin-right: 20px; 
}


.img-fluid {
    width: 100px;
    height: 100px;
    object-fit: cover; 
}


.content {
    padding: 20px; 
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.5em;
  font-size: 0.8em;
}

.footer {
    margin-top: 20px; 
    background-color: #f8f9fa;
    padding: 10px 0; 
    text-align: center; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}


