/* Style for form controls */
.form-control {
    background-color: #dcdcdc !important; /* Set background color */
    color: #555 !important; /* Set text color */
  }
  
  /* Style for form control placeholders */
  .form-control::placeholder {
    color: #888 !important; /* Set placeholder color */
  }
  
  /* Style for focused form controls */
  .form-control:focus {
    background-color: #dcdcdc !important; /* Set background color */
    color: #555 !important; /* Set text color */
  }
  
  /* Style for responsive tables */
  .table-responsive {
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style for thumbnail images */
.img-thumbnail {
    max-width: 100px; /* Set maximum width */
}

/* Style for logo images */
.logo-img {
    width: 100px; /* Set width */
    margin-right: 20px; /* Set right margin */
}

/* Style for fluid images */
.img-fluid {
    width: 100px; /* Set width */
    height: 100px; /* Set height */
    object-fit: cover; /* Scale image to cover the entire container */
}

/* Style for content padding */
.content {
    padding: 20px; /* Set padding */
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0.3em 0.5em;
  font-size: 0.8em;
}

/* Style for footer */
.footer {
    margin-top: 20px; /* Set top margin */
    background-color: #f8f9fa; /* Set background color */
    padding: 10px 0; /* Set vertical padding */
    text-align: center; /* Center align text */
    position: fixed; /* Set fixed position */
    bottom: 0; /* Set to bottom of the page */
    width: 100%; /* Set full width */
}


