body,
html {
  height: 100%;
  margin: 0;
  background-color: #353D55;
}
.container {
  min-height: 100vh; 
}
.logo {
  max-width: 150px;
}
.card {
  margin-top: 20px;
  border-radius: 0.5rem;
}
.btn {
  width: 100%;
}
.text-danger {
  color: red;
  display: block; /* Ensure the error message is block-level and visible */
  margin-top: 0.5rem;
}

.form-text {
  font-size: 0.875rem;
  color: #6c757d;
  display: block; /* Ensure the strength meter is also block-level */
}

input.error {
  border-color: red; /* Change the border color to red */
}

.input-group {
  position: relative;
}
.input-group .form-control {
  padding-right: 2.5rem;
}
.input-group .eye-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.strength-meter-bar {
  height: 5px;
}
@media (max-width: 576px) {
  .card {
    margin: 10px;
  }
  .input-group input {
    font-size: 14px;
  }
  .input-group .eye-icon {
    right: 0.5rem;
  }
}
