body {
  background-color: #353d55;
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
}

.container-fluid {
  height: 100vh;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  padding: 0; /* Remove default padding */
}

.main-content {
  width: 100%;
  max-width: 500px; /* Max width for smaller devices */
  margin: 0 auto; /* Center horizontally */
  padding: 1.5rem; /* Padding around the content */
  box-sizing: border-box; /* Include padding in width/height calculations */
}

.text-center {
  margin-top: 2rem; /* Add margin-top to create space above the logo */
  margin-bottom: 1.5rem; /* Adjust margin as needed */
}

.card {
  border-radius: 0.5rem;
  padding: 1.5rem; /* Add padding inside the card */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visual appeal */
}

.input-group {
  position: relative;
}

.input-group .form-control {
  padding-right: 2.5rem; /* Space for the eye icon */
}

.input-group .eye-icon {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.card-body {
  padding: 2rem; /* Padding inside the card body */
}

.btn-rounded {
  border-radius: 50px; /* Rounded button */
  font-size: 1rem; /* Default font size for buttons */
}

.card-text {
  margin-bottom: 2rem;
}

.logo {
  max-width: 100%; /* Ensure the logo scales with the container */
  max-height: 100px; 
}
