.sidebar-bg {
    background-color: #353D55;
}

.nav-link {
    color: white;
    position: relative;
    text-decoration: none;
}

.nav-link:hover {
    color: red;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    width: 100%;
}